* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
body .calcBorder {
  border: 5px black solid;
  height: 90vh;
  width: 70vw;
  display: grid;
  grid-template-areas: "output output output output" "clr plusorminus per divide" "seven eight nine multiply" "four five six minus" "one two three plus" "zero zero dot equal";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15vh 15vh 15vh 15vh 15vh 14vh;
}
body .calcBorder button {
  font-size: 30px;
  color: #EEEEEE;
  background-color: #252A34;
}
body .calcBorder button:hover {
  opacity: 50%;
}
body .calcBorder .calcBorder__output {
  display: flex;
  flex-direction: flex-end;
  align-items: center;
  font-size: 30px;
  grid-area: output;
  border: 3px green solid;
  width: 69.5vw;
  height: 15vh;
}
body .calcBorder .calcBorder__clr {
  grid-area: clr;
}
body .calcBorder .calcBorder__plusorminus {
  grid-area: plusorminus;
}
body .calcBorder .calcBorder__percentage {
  grid-area: per;
}
body .calcBorder .calcBorder__divide {
  grid-area: divide;
  background-color: #590D82;
}
body .calcBorder .calcBorder__seven {
  grid-area: seven;
}
body .calcBorder .calcBorder__eight {
  grid-area: eight;
}
body .calcBorder .calcBorder__nine {
  grid-area: nine;
}
body .calcBorder .calcBorder__multiply {
  grid-area: multiply;
  background-color: #590D82;
}
body .calcBorder .calcBorder__four {
  grid-area: four;
}
body .calcBorder .calcBorder__five {
  grid-area: five;
}
body .calcBorder .calcBorder__six {
  grid-area: six;
}
body .calcBorder .calcBorder__minus {
  grid-area: minus;
  background-color: #590D82;
}
body .calcBorder .calcBorder__one {
  grid-area: one;
}
body .calcBorder .calcBorder__two {
  grid-area: two;
}
body .calcBorder .calcBorder__three {
  grid-area: three;
}
body .calcBorder .calcBorder__plus {
  grid-area: plus;
  background-color: #590D82;
}
body .calcBorder .calcBorder__zero {
  grid-area: zero;
}
body .calcBorder .calcBorder__dot {
  grid-area: dot;
}
body .calcBorder .calcBorder__equal {
  grid-area: equal;
  background-color: #FFC93C;
  color: #252A34;
}